[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
markdown = "*"
djangorestframework = "*"
drf-yasg = "*"
django-rest-passwordreset = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
uvicorn = "*"
redis = "*"
django-redis = "*"
drf-orjson-renderer = "*"
argon2-cffi = "*"
django-celery-email = "*"
django-3-jet = "*"
django-filter = "*"
epicbox = "*"
django-constrainedfilefield = "*"
python-magic = "*"
restrictedpython = "*"
flake8 = "*"
django-ckeditor = "*"
django-model-utils = "*"
wemake-python-styleguide = "*"
isort = "*"
add-trailing-comma = "*"
chatterbot = {editable = true,git = "https://github.com/jacquant/ChatterBot.git"}
python-levenshtein = "*"

[requires]
python_version = "3.8"

[dev-packages]
black = "*"

[pipenv]
allow_prereleases = true
